PORT=5001
NODE_ENV=development

# MongoDB
MONGODB_URI=mongodb://localhost:27017/vehiclean

# JWT
JWT_SECRET=vehicleanjwtsecretdevkey2026
JWT_EXPIRE=30d

# Cloudinary
CLOUDINARY_CLOUD_NAME=dvtzbk0qc
CLOUDINARY_API_KEY=294813898778542
CLOUDINARY_API_SECRET=iP5kAaJ3JcMmBx2CS0oMGFuDGxk

# Razorpay
RAZORPAY_KEY_ID=rzp_test_t5oXX1D06xFAam
RAZORPAY_KEY_SECRET=3qy7ZzDKeUvZgBeI6o0B6Rm9

# Frontend URLs (for CORS)
USER_APP_URL=http://localhost:8081
PARTNER_APP_URL=http://localhost:8082
ADMIN_PANEL_URL=http://localhost:3000
